<!--Main application module - the application shell
  implementation of the shell AppComponent distributed over three files:

  app.component.ts— the component class code, written in TypeScript.
  app.component.html— the component template, written in HTML.
  app.component.css— the component's private CSS styles.
-->

<div class="loading">
  <h1>Loading...</h1>
</div>
<div class="container">
    <div class="starter-template">
        <button (click)="repositoriesClick()" class="btn btn-outline-info glyphicon glyphicon-search button-image" [ngClass]="{active : !hideRepositories}">{{repositoriesTitle}}</button>
        
      <!--<nav>
        <a href="/"><app-repository-search></app-repository-search>Repositories</a>
        <a routerLink="/bookmarks">Bookmarks</a>
      </nav>
      <router-outlet></router-outlet>-->
    
        <button (click)="bookmarkClick()" class="btn btn-outline-info glyphicon glyphicon-search button-image" [ngClass]="{active : hideRepositories}">{{bookmarkTitle}}</button>
       <!-- <h1>{{bookmarkTitle}}</h1>
      <nav>
        <a href="/"><app-repository-search></app-repository-search>Repositories</a>
        <a routerLink="/bookmarks">Bookmarks</a>
      </nav>
      <router-outlet></router-outlet>-->
    </div>
    <div id="RepositoriesTab" [hidden]="hideRepositories">
        <app-repositories></app-repositories>
    </div>
    <div id="RepositoriesTab" [hidden]="!hideRepositories">
        <app-bookmark></app-bookmark>
    </div>
</div>

<app-footer></app-footer>
